<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文章列表</title>
    <link rel="stylesheet" href="assets/js/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/iconfont.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="./assets/js/bootstrap/css/bootstrap.min.css">
    <script src="assets/js/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/bootstrap/js/bootstrap.min.js"></script>
    <script src="./assets/js/twbs-pagination/jquery.twbsPagination.min.js"></script>


</head>

<body>
    <div class="container-fluid">
        <div class="common_title">
            文章列表
        </div>
        <div class="container-fluid common_con">
            <div class="row opt_btns">
                <div class="col-xs-6">
                    <form class="form-inline">
                        <select id="selCategory" name="" class="form-control input-sm">
                            <option>所有分类</option>
                            <option>未分类</option>
                            <option>奇趣事</option>
                            <option>会生活</option>
                            <option>爱旅行</option>
                        </select>
                        <select id="selStatus" name="" class="form-control input-sm">
                            <option>所有状态</option>
                            <option value="drafted">草稿</option>
                            <option value="published">已发布</option>
                        </select>
                        <button id="btnSearch" class="btn btn-default btn-sm">筛选</button>
                    </form>
                </div>
                <div class="col-xs-6">
                    <a href="article_release.html" class="btn btn-success btn-sm pull-right" id="release_btn">发表文章</a>
                </div>
            </div>

            <table class="table table-striped table-bordered table-hover mp20">
                <thead>
                    <tr>
                        <th>标题</th>
                        <th>作者</th>
                        <th>分类</th>
                        <th class="text-center">发表时间</th>
                        <th class="text-center">状态</th>
                        <th class="text-center" width="100">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- 这里放数据 -->
                </tbody>
            </table>

            <div class="row text-center">
                <ul class="pagination" id="pagination"></ul>
            </div>

        </div>
    </div>

    <script>
        // 设置左侧菜单
        $('#release_btn').click(function () {
            window.parent.setMenu(1, 1);
        })
    </script>
    <script src="./assets/js/template-web.js"></script>
    <script id="moban" type="text/html">
        {{each arr}}
        <tr>
                <td>{{$value.title}}</td>
                <td>{{$value.nickname}}</td>
                <td>{{$value.catename}}</td>
                <td class="text-center">{{$value.addtime}}</td>
                <td class="text-center">{{$value.state}}</td>
                <td class="text-center">
                    <a href="article_edit.html" class="btn btn-default btn-xs">编辑</a>
                    <a href="javascript:deleteTr( 1005 );" class="btn btn-danger btn-xs">删除</a>
                </td>
            </tr>
        {{/each}}
    </script>
    <script>
        var params = {
            cateid: null,   //分类的ID  null表示
            keywords: null,  //搜索关键字
            state: '已发布',  //可选草稿
            pageNum: 10,  //  表示每页显示10页数据
            page: 1  //表示当前是第一页
        }
        var flag = true
        function loadData(){
             $.get('/admin/getArticlesWithPage', params, function (res) {
            console.log(res);
            if (res.code === 200) {
                var str = template('moban', {
                    arr: res.data
                })
                $('tbody').html(str)
                page(res.pageTotal)
                console.log(res.pageTotal);
                
            }

        }, 'json')
        }
       loadData()
    </script>
    <script>
        function page(pageTotal) {
            window.pagObj = $('#pagination').twbsPagination({
                totalPages: pageTotal,
                visiblePages: 10,
                onPageClick: function (event, page) {
                    params.page = page
                    if(!flag){
                        loadData()
                       
                    }
                     flag = false

                }
            }).on('page', function (event, page) {
                
            });
        }
        
    </script>
</body>

</html>